

<ion-content>
    <ion-title id="nametag">
      Virtuale
    </ion-title>


  <ion-card id="logincard">

    <ion-card-header>Please Login With your Student Email</ion-card-header>

    <ion-item>
      <ion-label position="floating">Student Email:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password:</ion-label>
      <ion-input type="password" ></ion-input>
    </ion-item>

    <ion-button expand="block" size="small" href="/home" >Login</ion-button>

  </ion-card>



</ion-content>
<!--<ion-footer>Illustrations by <a href="https://www.vecteezy.com">Vecteezy!</a></ion-footer>-->
