
ion-content{
    --background: #ffffff;
//    url('../../assets/images/landing_page.png') no-repeat center center / cover;
}
#nametag{
    padding: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: 900 ;
    font-family: 'Snowburst One', cursive;
    @import url('https://fonts.googleapis.com/css?family=Snowburst+One');
    color: #86888f;

}

