
.page-title{
  color: #333333;
  text-align: center;
  text-shadow: 1px 1px 1px #a2a4ab;
  }
 ion-icon{
  float: right;
}

.unit-list {
  flex-direction: column;
}

.buttons{
  padding-left: 10px;
}
ion-button{
  width: 60%;
  color: #222428;
  border-radius: 4px;
}
div .buttons {
  text-align: -webkit-left;
  text-align: left;
}
