<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome to Virtuale
      <ion-icon name="log-out"> </ion-icon>
    </ion-title>



  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
  <h1 class="page-title"> Enrolled Units </h1>
  </ion-text>
  <div class="buttons" >

    <ion-button expand="block" color="medium">Unit 1</ion-button>
    <ion-button expand="block" color="medium">Unit 2</ion-button>
    <ion-button expand="block" color="medium">Unit 3</ion-button>
  </div>


</ion-content>
