.page-title{
  color: #222428;
  text-align: center;
  text-shadow: 1px 1px 1px #a2a4ab;
  }
.unit-list {
  flex-direction: column;
}
ion-button{
  width: 40%;
}
ion-row{
  padding-left: 10px;
  padding-top: 15px;
}
