<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome to Virtuale
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text >
  <h1 class="page-title"> Enrolled Units </h1>
</ion-text>



  <ion-grid class="unit-list">
    <ion-col>
      <ion-row ><ion-button  color="warning">Unit Code: Unit name</ion-button> </ion-row>
      <ion-row ><ion-button   color="warning">Unit Code: Unit Name</ion-button></ion-row>
      <ion-row ><ion-button   color="warning">Unit Code: Unit Name</ion-button></ion-row>
    </ion-col>
  </ion-grid>

  
</ion-content>
