<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome to Virtuale
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

      <ion-title class="page-title"> Enrolled Units </ion-title>

  </div>


  <ion-grid class="unit-list">
    <ion-col>
      <ion-row ><ion-button  href="/home" color="warning">Unit 1</ion-button> </ion-row>
      <ion-row ><ion-button  href="/home" color="warning">Unit 2</ion-button></ion-row>
      <ion-row ><ion-button href="/home" color="warning">Unit 3</ion-button></ion-row>
    </ion-col>
  </ion-grid>




</ion-content>
